html, body {
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	background-image: url("images/wallpaper.jpg");
	background-repeat: repeat;
}

#content .title h2{
	color: #00AABB;
	text-transform: uppercase;
	font-weight:  700;
	font-size: 2em;
	letter-spacing: 0.02em;
}

#wrapper{
	background-image: url("images/wallpaper.jpg");
	background-repeat: repeat;
}

#headerWrapper {
	overflow: hidden;
	background-size: 100%;
	background: #333333;

}

#page {
	height: 600px;
	position:  relative;
	overflow: hidden;
}

#content {
	width: 99%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 99%;
	margin: 0px auto;
}

/* logo */

#logo 
{
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0.5em 0.5em;

	text-transform: uppercase;
	background: #333333;
}

#logo img
{
	height:7em;
	width: 9em;
	float: right;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

#logo h1
	{
		margin-left:10%;
		text-align: center;
		color: #FFF;
		letter-spacing: 0.10em;
		font-size: 3em;
	}

#logo a{
	color: #FFF;
	float: center;
	text-decoration: none;
}


/* Menu Bar */

#menuBar {
	
	width: 100%;
	height: 90px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	background-color: #00AABB;
}

#menuBar .current_page a {
	background: #008C9A;
}

#menuBar ul {
	
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menuBar li {

	display: inline-block;
	padding: 0px 0px 0px 0px;
}

#menuBar a{
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 20px 40px;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
}

#menuBar a:hover
{
	background: #42bcf4;
}

#hyperlink
{
	padding-top: 1%;
	text-align: center;
}

#create-new-account
{
	margin-right: 20px;
	margin-left: auto;
	letter-spacing: 1px;
	font-size: 1.1em;
	font-weight: 400;
}

#login
{
	margin-left: 35%;
	letter-spacing: 1px;
	font-size: 1.4em;
	font-weight: 400;
	float: center;
	text-align: left;
	
}

#login-error
{
	color: crimson;
	font-weight: 600;
	margin-left: 4em;
}

#login p, input
{
	letter-spacing: 1px;
	font-size: 1.1em;
	font-weight: 400;
	
	margin-right: 20em;


}

#login-button
{
	margin-left: 3em;
	margin-right: auto;
	
	margin-top: 25px;
	height: 2.5em;
	width: 8em;
	letter-spacing: 1px;
	font-size: 1.1em;
	font-weight: 400;
	color: #FFFFFF;
	background: #333333;
	border-radius: 1em;
	text-transform: uppercase;
}


/* Registration  */

#registration
{

	letter-spacing: 1px;
	font-size: 1.4em;
	font-weight: 400;
	text-align: left;
	padding-left: 20%;
}

#registration input
{
	letter-spacing: 1px;
	font-size: 1.1em;
	font-weight: 400;
	float: right;
	margin-right: 10%;


}

#submit-registration
{
	margin-top: 2%;
	height: 2.5em;
	width: 8em;
	letter-spacing: 1px;
	font-size: 1.3em;
	font-weight: 400;
	color: #FFFFFF;
	background: #333333;
	border-radius: 1em;
	text-transform: uppercase;
}
/*   Browse Page */

#browse
{
	width: 99%; 
	height: 90%	;
 	margin: 10px auto; 
	position: relative; 
	display: inline-block;
}

#browse-panel
{
	float: left;
	
	width: 15%;
	height: 50%;
	position: fixed; 
}

#browse-panel legend {
    background-color: #A0A0A0;
    color: #fff;
    padding: 6px 6px;
}

#browse-panel .filter-option
{
	float: left;
	padding: 0.5em 0.5em;
	display: block;
}

#browse-panel input {
    margin: .5rem;

}

#browse-result
{
	overflow-y:scroll;

	width: 90%;
	height: 80%;
	float:right;
	margin-right: 3em;

}

#browse-result p
{
	font-weight: 500;
	font-size: 1.3em;

}

#browse-result table
{
	flex-grow: 1;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#browse-result table, td, th
{
	border-bottom: 1px solid black;
}

#browse-result td
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3.6em;
	padding-right: 3.6em;
}

#browse-result th
{
	padding:1em;

}

#browse-result tr:not(:first-child):hover
{
	background: #C5C5C5;
}




#content
{
	float: right;
	width: 99%;
	height: 99%;
}
#footer-wrapper{
	position: relative;  
	width: 100%;
	margin-top: 0px;
	background: #0F0F0F;
	bottom: 0;
}

#footer
{
	color: #ADADAD;
	height: 10px;
	padding: 3em 0em;
	text-align: center;

}


/*   LiveSearch  */
#search
{

	width: 99%; 
	height: 70%	;
 	margin: 10px auto; 

	position: relative; 
	display: inline-block;
}

#search-bar
{

	margin-left: 19em;
	margin-right: auto;
	text-align: center;
}

#search-bar p
{
	
	font-weight: 600;
}

#livesearch
{

	overflow-y:scroll;
	width: 90%;
	height: 350px;
	float:right;
	margin-right: 3em;

}



#livesearch table
{
	flex-grow: 1;
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

#livesearch table, td, th
{
	border-bottom: 1px solid black;
}

#livesearch td
{
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 3.6em;
	padding-right: 3.6em;
}

#livesearch th
{
	padding:1em;

}

#livesearch tr:not(:first-child):hover
{
	background: #C5C5C5;
}