html, body {
	height: 100%;
}

body{
	margin: 0px;
	padding: 0px;
	background-image: url("wallpaper.jpg");
	background-repeat: repeat;
}

#content .title h2{
	color: #00AABB;
	text-transform: uppercase;
	font-weight:  700;
	font-size: 2em;
	letter-spacing: 0.02em;
}

#wrapper{
	background-image: url("wallpaper.jpg");
	background-repeat: repeat;
}

#headerWrapper {
	overflow: hidden;
	background-size: 100%;
	background: #333333;

}

#page {
	position:  relative;
	overflow: hidden;
}

#content {
	width: 99%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.container {
	width: 99%;
	margin: 0px auto;
}

/* logo */

#logo 
	{
		width: 500px;
		height: 90px;
		margin: 0 auto;
		padding: 2em 0em;
		text-transform: uppercase;
		background: #333333;
	}

#logo h1
	{
		text-align: center;
		color: #FFF;
		letter-spacing: 0.10em;
		font-size: 3em;
	}

#logo a{
	color: #FFF;
	text-decoration: none;
}


/* Menu Bar */

#menuBar {
	
	width: 100%;
	height: 90px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	background-color: #00AABB;
}

#menuBar .current_page a {
	background: #008C9A;
}

#menuBar ul {
	
	margin: 0;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
	text-align: center;
}

#menuBar li {

	display: inline-block;
	padding: 0px 0px 0px 0px;
}

#menuBar a{
	color: #FFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 20px 40px;
	font-size: 1em;
	font-weight: 600;
	text-decoration: none;
}

#menuBar a:hover {
	text-decoration-color: #ADADAD;
}

#registration {
	text-align: left;
	padding-left: 35%;
}

#content
{
	float: right;
	width: 99%;
}
#footer-wrapper{
	width: 100%;
	margin-top: 170px;
	background: #0F0F0F;
}

#footer
	{
		color: #ADADAD;
		height: 10px;
		padding: 3em 0em;
		text-align: center;

	}