
body {
    background-color: lightgrey;
}


#warpper{
	margin: 1%;

}

#content {
	width:350px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



/* Menu Bar */

#menu {
	float: right;
	width: 500px;
	height: 90px;
	margin: 0 auto;
	padding: 0;
}

#menu ul {
	float: right;
	margin: 0;
	padding: 50px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
	padding: 0px 0px 0px 0px;
}